<a href="https://colab.research.google.com/github/cmason30/python-practice/blob/master/galvanize_code_challenge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def sum_rec_dig(n): 
  dig_list = [int(i) for i in str(n)]
  sum_rec = sum(dig_list)
  while sum_rec > 9:
    new_rec_list = [int(i) for i in str(sum_rec)]
    sum_rec = sum(new_rec_list)
    
  return sum_rec

In [ ]:
sum_rec_dig(5218)

7

In [ ]:
def distr_of_rec_digit_sums(low=0, high=1500):
  hist_int = dict.fromkeys(range(0,10), 0)
  for i in range(low, high + 1):
    hist_int[sum_rec_dig(i)] += 1

  return hist_int

In [ ]:
distr_of_rec_digit_sums()

{0: 0, 1: 0, 2: 0, 3: 0, 4: 0, 5: 0, 6: 0, 7: 0, 8: 0, 9: 0}

{0: 1, 1: 167, 2: 167, 3: 167, 4: 167, 5: 167, 6: 167, 7: 166, 8: 166, 9: 166}

In [ ]:
def dig_pow(n, p):
    split_dig = [int(i) for i in str(n)]
    
    pow_dig = []
    for i in split_dig:
        pow_dig.append(i**p)
        p += 1
        
    sum_list = sum(pow_dig)

    k = 1
    print(n*k)
    print(sum_list)

    while (n*k) < sum_list:
      if n*k == sum_list:
          return k
      else:
          return -1
      k += 1
      print(k)
dig_pow(89, 1)

89
89

In [ ]:
def sort_and_test(list_1, list_2):
    sort_list = list_1.copy()
    sort_list.sort(reverse=True)
    print(list_1, sort_list)
    if sort_list == list_1:
        return True
    else:
        return False

In [ ]:
x = [10, 9, 8, 7, 6, 5]
y = list(range(5, 11))

result = sort_and_test(x, y)
result

[10, 9, 8, 7, 6, 5] [10, 9, 8, 7, 6, 5]

True

In [ ]:
i = 0
total = 0
loop = True
while loop:
    if i%10 == 0:
        i += 1
    else:
        total += i
        i += 1
    if i > 100:
        loop = False
print(total)

4500

In [ ]:
def sort_remove_dupes_print(*args):
    sorted_args = set(args)
    print(" < ".join(map(str, sorted_args)))

sort_remove_dupes_print(1, 5, 2, 3, 1, 45, 12, 4, 2, 56, 6, 2, 1, 2, 4)

1 < 2 < 3 < 4 < 5 < 6 < 12 < 45 < 56

In [ ]:
def greater_than(x, y):
    """
    Returns the string '_ is greater than _, and their difference is _'
    where the values of the arguments x and y are substituted into the string
    according to which value is greater.

    Ex:
    greater_than(-6, 3) -> '3 is greater than -6, and their difference is 9.'

    Parameters:
    ----------
    x : int
    y : int

    Returns:
    ----------
    A string that dynamically inserts the variables x and y,
    as well as their difference.
    """
    if x > y:
        diff = x - y
        return f'{x} is greater than {y}, and their difference is {diff}'
    else:
        diff = y - x
        return f'{y} is greater than {x}, and their difference is {diff}'

In [ ]:
greater_than(1, 2)

'2 is greater than 1, and their difference is 1'

In [ ]:
tuple_1 = (1, 2, 3)
tuple_2 = (4, 5, 6)

tuple_3 = tuple_1 + tuple_2
print(tuple_3)

tuple_4 = tuple_2 * 2
print(tuple_4)

(1, 2, 3, 4, 5, 6)
(4, 5, 6, 4, 5, 6)

In [25]:
def remove_or_add(x, y):
  set_x = x

  for i in y:
    if i not in set_x:
      set_x.add(i)
    elif i in set_x:
      set_x.remove(i)


  return set_x

remove_or_add({1, 2, 3}, [1, 'a'])

{2, 3, 'a'}

In [31]:
def set_accumulator(n):
    set1 = set()
    for i in range(1, n+1):
        if i%2 == 0:
            set1.add(i)
        

          
            
    return set1

set_accumulator(10)

{2, 4, 6, 8, 10}