<a href="https://colab.research.google.com/github/cmason30/python-practice/blob/master/galvanize_code_challenge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import numpy as np

In [ ]:
def sum_rec_dig(n): 
  dig_list = [int(i) for i in str(n)]
  sum_rec = sum(dig_list)
  while sum_rec > 9:
    new_rec_list = [int(i) for i in str(sum_rec)]
    sum_rec = sum(new_rec_list)
    
  return sum_rec

In [ ]:
sum_rec_dig(5218)

7

In [ ]:
def distr_of_rec_digit_sums(low=0, high=1500):
  hist_int = dict.fromkeys(range(0,10), 0)
  for i in range(low, high + 1):
    hist_int[sum_rec_dig(i)] += 1

  return hist_int

In [ ]:
distr_of_rec_digit_sums()

{0: 0, 1: 0, 2: 0, 3: 0, 4: 0, 5: 0, 6: 0, 7: 0, 8: 0, 9: 0}

{0: 1, 1: 167, 2: 167, 3: 167, 4: 167, 5: 167, 6: 167, 7: 166, 8: 166, 9: 166}

In [ ]:
def dig_pow(n, p):
    split_dig = [int(i) for i in str(n)]
    
    pow_dig = []
    for i in split_dig:
        pow_dig.append(i**p)
        p += 1
        
    sum_list = sum(pow_dig)

    k = 1
    print(n*k)
    print(sum_list)

    while (n*k) < sum_list:
      if n*k == sum_list:
          return k
      else:
          return -1
      k += 1
      print(k)
dig_pow(89, 1)

89
89

In [ ]:
def sort_and_test(list_1, list_2):
    sort_list = list_1.copy()
    sort_list.sort(reverse=True)
    print(list_1, sort_list)
    if sort_list == list_1:
        return True
    else:
        return False

In [ ]:
x = [10, 9, 8, 7, 6, 5]
y = list(range(5, 11))

result = sort_and_test(x, y)
result

[10, 9, 8, 7, 6, 5] [10, 9, 8, 7, 6, 5]

True

In [ ]:
i = 0
total = 0
loop = True
while loop:
    if i%10 == 0:
        i += 1
    else:
        total += i
        i += 1
    if i > 100:
        loop = False
print(total)

4500

In [ ]:
def sort_remove_dupes_print(*args):
    sorted_args = set(args)
    print(" < ".join(map(str, sorted_args)))

sort_remove_dupes_print(1, 5, 2, 3, 1, 45, 12, 4, 2, 56, 6, 2, 1, 2, 4)

1 < 2 < 3 < 4 < 5 < 6 < 12 < 45 < 56

In [ ]:
def greater_than(x, y):
    """
    Returns the string '_ is greater than _, and their difference is _'
    where the values of the arguments x and y are substituted into the string
    according to which value is greater.

    Ex:
    greater_than(-6, 3) -> '3 is greater than -6, and their difference is 9.'

    Parameters:
    ----------
    x : int
    y : int

    Returns:
    ----------
    A string that dynamically inserts the variables x and y,
    as well as their difference.
    """
    if x > y:
        diff = x - y
        return f'{x} is greater than {y}, and their difference is {diff}'
    else:
        diff = y - x
        return f'{y} is greater than {x}, and their difference is {diff}'

In [ ]:
greater_than(1, 2)

'2 is greater than 1, and their difference is 1'

In [ ]:
tuple_1 = (1, 2, 3)
tuple_2 = (4, 5, 6)

tuple_3 = tuple_1 + tuple_2
print(tuple_3)

tuple_4 = tuple_2 * 2
print(tuple_4)

(1, 2, 3, 4, 5, 6)
(4, 5, 6, 4, 5, 6)

In [ ]:
def remove_or_add(x, y):
  set_x = x

  for i in y:
    if i not in set_x:
      set_x.add(i)
    elif i in set_x:
      set_x.remove(i)


  return set_x

remove_or_add({1, 2, 3}, [1, 'a'])

{2, 3, 'a'}

In [ ]:
def set_accumulator(n):
    set1 = set()
    for i in range(1, n+1):
        if i%2 == 0:
            set1.add(i)
        

          
            
    return set1

set_accumulator(10)

{2, 4, 6, 8, 10}

In [ ]:
def try_to_remove(test_dict, test_key, pop):
    if test_key in test_dict:
        if pop:
            test_dict.pop(test_key)
        else:
            del test_dict[test_key]
        
        return test_dict
        
    elif test_key not in test_dict:
        return "Key not found."

test_dict = {2: 4, 3: 9, 4: 16, 5: 25}
try_to_remove(test_dict, 1, pop=True)

'Key not found.'

In [ ]:
def find_divisors(n):
    """
    Finds all integers which evenly divide n.

    Parameters:
    ----------
    n : int
        A positive integer.

    Returns:
    ----------
    list :
        A list of the divisors of n.
    """
    lst = []
    for i in range(1, n+1):
        if n%i == 0:
            lst.append(i)
    return lst
    


def is_prime(n):
    """
    Determines if a number is prime.

    Parameters:
    ----------
    n : int
        A positive integer.

    Returns:
    ----------
    boolean :
        Whether n is prime.
    """
    div = find_divisors(n)
    if len(div) == 2:
        return True
    else:
        return False
    


def find_next_prime(n):
    """
    Finds the next prime number after n.

    Parameters:
    ----------
    n : int
        A positive integer.

    Returns:
    ----------
    int :
        The next prime number.
    """
    n = n+1
    prime = is_prime(n)
    while not prime:
        n += 1
        prime = is_prime(n)
        
    return n

find_next_prime(11)

13

In [ ]:
f = [89.3,88.5,83.2,84.5,87.0,82.2,87.5,88.3,87.9,83.2,84.2,86.3,86.6,85.6,86.5,88.8,87.9,85.5,84.4,88.0,83.9,90.0,84.7,87.8]
sorted(f)

In [ ]:
def numb_aplha():
  alpha = ['adfadsadsaddsa']
  aplha2 = []

In [ ]:
"{0:b}".format(37)

'100101'

In [35]:


def bern(ins=10, p=.25):
  lst = [1 for _ in range(ins) if np.random.rand() <= p]

  return lst

ls1 = []
for i in range(10000):
  ls1.append(len(bern())/10)

np.mean(ls1)

0.25143000000000004

In [95]:
import math

def nCr(n,r):

  r_set = set(range(1, n-r+1))
  n_set = set(range(1, n+1))
  comb_set = n_set.difference(r_set)
  
  prod = 1
  for i in comb_set:
    prod = prod * i
  
  r_fac = math.factorial(r)
  return prod/r_fac

In [96]:
nCr(1000,3)

166167000.0

In [99]:
def bin(n,k,p):
  ncr = nCr(n,k)
  
  return ncr * (p**k) * (1-p)**(n-k)

In [109]:
bin(n=139, p=0.08, k=15)

0.05554652477235543

In [108]:
lst = []

for r in range(0, 10):
  lst.append(bin(1000, r, .005))

1- sum(lst)

0.03146523851129601

In [111]:
from scipy.stats import norm

x = 53
mu= 46.8
sd = 1.75
norm.cdf(x, loc=mu, scale=sd)

0.9998020914708671

In [112]:
from scipy.stats import poisson

poisson.pmf(25,20)

0.04458764910826764

In [113]:
p = .00016
k = 2000

def geom_prob_pmf(p,k):
  return (1-p)**(k-1)*p

geom_prob(p,k)

0.00011619946326022645

In [115]:
def geom_prob_cdf(p,k):
  return 1-(1-p)**k

geom_prob_cdf(p,k)

0.273869554086845